$primary: rgba(27, 27, 27, 1);
$gray: rgba(118, 118, 118, 1);
$lightGray: rgba(168, 168, 168, 1);
$lightGrayBord: rgba(196, 196, 196, 1);
$opacityGray: rgba(193, 193, 193, 1);
$purple: rgba(155, 81, 224, 1);
$purpleLight: rgba(155, 81, 224, .7);
$bgModal: rgba(11, 11, 11, 0.5);

$mobile-widthXS: 320px;
$mobile-widthS: 375px;
$mobile-width: 425px;
$tablet-smallXS: 683px;
$tablet-smallS: 765px;
$tablet-small: 768px;
$tablet-min-width: 1024px;
$view-desktop: 1440px;
